body {
  background-color: antiquewhite;
}

.container {
  width: 70%;
  height: 700px;
  margin: auto;
  position: relative;
}

.main {
  margin: 0;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 350px;
  left: 400px;
}

ul {
  margin: 0;
  padding: 0;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 30px;
  position: absolute;
  bottom: 660px;
  left: 10px;
}
.about {
  font-size: 30px;
  position: absolute;
  bottom: 105px;
  left: 10px;
}

.powered {
  font-size: 30px;
  position: absolute;
  left: 900px;
  bottom: 660px;
}
.seytech {
  font-size: 30px;
  position: absolute;
  left: 845px;
  bottom: 105px;
}
